body{
  font-family:  Raleway;
  background-color:#9ccef4;
}

/* navbar section */

nav{
  background-color: #759eda;
}

form{
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: space-around;
  height: 10vh;
  padding-top: 20px;
 
}

 input{
  color: white;
  margin-left: 20px;
  width: 13vw;
  height: 5vh;
  background-color: #759eda;
  border: 0;
  font-size: 30px;
  color: gainsboro;
}

input::placeholder{
  color: white;
}


input:focus {
  outline: none;
}


button{
  border: 1px;
  border-radius: 3px;
  width: 10vw;
  height: 6vh;
  padding-top: 0.3rem;
  text-align: center;
  background-color: #5879c7;
  color: black;
  font-weight: lighter;
  margin-left: 15%;
  font-size: 20px;
  color: black;
}
.wethear_now {
  display: grid;
  grid-template-rows: 220px 70px 60px 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  font-size: 25px;
  font-family:  Raleway;
}

/* body section */
.image {
  width: 250px;
  margin-left: 30px;
}
img{
  width: 100px;
  
}
.color {
  color: white;
}
.size {
  font-size: 20px;
}
.days {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 30px;
  font-family:  Raleway;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: stretch;
  text-align: center;
  justify-content: space-around;
  padding-top: 40px;
  font-size: 30px;
  grid-column-gap: 80px;
  font-size: 20px;
  font-family:  Raleway;
}
