body{
  font-family:  Raleway;
  background-color:#9ccef4;
}

/* navbar section */

nav{
  background-color: #759eda;
}

form{
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: space-around;
  height: 10vh;
  padding-top: 20px;
 
}

 input{
  color: white;
  margin-left: 20px;
  width: 13vw;
  height: 5vh;
  background-color: #759eda;
  border: 0;
}

input::placeholder{
  color: white;
}


input:focus {
  outline: none;
}


button{
  border: 1px;
  border-radius: 3px;
  width: 10vw;
  height: 6vh;
  padding-top: 0.3rem;
  text-align: center;
  background-color: #5879c7;
  color: black;
  font-weight: lighter;
  
}


/* body section */

img{
  width: 200px;
}







